* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #0f0f0f;
  font-family: "Samsung Sans", sans-serif;
}

.navbar {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #00000000;
  text-align: center;
  box-shadow: 0 10px 17px 0px #202020;
}

.sizeLogo {
  width: 40px;
  height: 40px;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}

/* BEM */

.img-size {
  width: 100px;
  height: 260px;
}

.shadow-text {
  text-shadow: 2px 2px 3px #8f8f8f;
}

.padding-mobile {
  padding-top: 5%;
}

.logoNetworks {
  width: 24px;
  height: 24px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Samsung Sans", sans-serif;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-pos-fix {
  padding-left: 20px;
  padding-right: 20px;
}
.owl-carousel.owl-loaded {
  display: block;
}

.card {
  border-radius: 0.5rem;
  background-color: transparent;
  height: 20rem;
  box-shadow: 2px 3px 3px #525252;
  width: auto;
}

.card-body {
  height: auto;
  width: auto;
}

.item {
  color: white;
}

@media (min-width: 1px) and (max-width: 1310px) {
  .item {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }

  .navbar-toggler {
    position: absolute;
    right: 0.8rem;
    top: 0.6rem;
  }

  .img-size {
    width: 180px;
    height: 180px;
  }

  .carousel-item {
    width: 100%;
    height: auto;
  }

  .flexOwl {
    display: flex;
    align-items: stretch;
    padding: auto;
  }

  .padding-mobile2 {
    padding-top: 5%;
  }

  aside {
    height: auto;
  }

  @media (min-width: 1310px) and (max-width: 1399px) {
    .navbar-nav {
      padding-left: 10rem;
    }
    .card {
      display: flex;
      justify-content: space-around;
      height: 20rem;
    }

    footer {
      position: relative;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }
  }
  @media (min-width: 1400px) and (max-width: 1804px) {
    .flexIndexpartschild {
      flex-basis: auto;
      background-color: rgb(8, 8, 8);
      width: 20rem;
      border-radius: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      justify-content: space-between;
    }

    .flexIndexparts {
      display: flex;
      justify-content: space-evenly;
      background-color: rgb(5, 5, 5);
      margin-left: 4rem;
      margin-right: 4rem;
    }
    .margin-lefttable {
      margin-left: 25rem;
    }
    .height-Founders {
      margin-top: 2rem;
    }
  }
}
